{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-list' object.author.id %}">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
                {% if object.author == user or user.is_superuser %}
                    <div>
                        <a class="btn btn-secondary btn-sm mt-1 mb-1"
                           href="{% url 'post-update' object.id %}">Update</a>
                        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
                    </div>
                {% endif %}
            </div>
            <h2 class="article-title">{{ object.title }}</h2>
            <p class="article-content">{{ object.content }}</p>
            {% if  object.post_image %}
                <img src="{{ object.post_image.url }}" width=80%>
            {% endif %}
        </div>
    </article>
    <div>
        <h1 class="">Comments</h1>
        {% for comment in commets %}

            <div class="container content-section">
                <div class="row">

                    <div class="col-1">
                        <img class="rounded-circle comment-img" src="{{ comment.user.profile.image.url }}">

                    </div>
                    <div class="col-11">
                        {% if comment.post.author == user or comment.user == user or user.is_superuser %}
                            <div class="row">
                                <div class="col-9 mt-1">
                                    <span class="mr-3 ml-1 "><a
                                            href="{% url 'user-list' comment.user.id %}">{{ comment.user.username }}</a> </span>
                                    <span class="text-muted">{{ comment.updated|date:"F d, Y" }}</span>
                                </div>
                                <div class="col-1">
                                    <a class="btn btn-danger btn-sm ml-1 "
                                       href="{% url 'comment-delete' comment.id %}">Delete</a>
                                </div>
                            </div>


                        {% else %}
                            <div class="row">
                                <span class="ml-3"><a
                                        href="{% url 'user-list' comment.user.id %}">{{ comment.user.username }}</a> </span>
                                <span class="ml-1 text-muted">{{ comment.updated|date:"F d, Y" }}</span>
                            </div>
                        {% endif %}
                        <div class="row ml-1 ">
                            <p style="font-size: 14pt">{{ comment }}</p>
                        </div>
                    </div>
                </div>


            </div>
        {% endfor %}

    </div>
    <div>
        <form method="POST" enctype="multipart/form-data" action="">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Leave Commet</legend>
                {#                    {{ form|crispy }}#}
                <input class="form-control form-control-lg" placeholder="Say Something..." name="commet">
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Commet</button>
            </div>
        </form>
    </div>
{% endblock content %}
